.completada {
  text-decoration: line-through;
  color: gray;
}
.ul {
    font-size: 20px;
    color: red;
}

#mensaje {
    font-size: 20px;
    color: blue;
}

.tarea {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tarea.mostrar {
  opacity: 1;
  transform: scale(1);
}

.tarea.ocultar {
  opacity: 0;
  transform: scale(0.9);
}

