# Archivos del sistema
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.sqlite3

# VSCode
.vscode/

# Archivos temporales
*.log
*.tmp
*.bak
*.swp
*.swo

# Git
.git/

# Archivos de build
build/
coverage/
.cache/
.parcel-cache/
.out/

# Archivos y carpetas de .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

# Config local de EF
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Archivos de publicación
publish/

# Archivos de Rider (si usas JetBrains)
.idea/
*.sln.iml

# SQLite (si usás EF con SQLite en dev)
*.db
*.db-journal

# Otros comunes en .NET
.vs/
*.ncrunch*
_ReSharper*/
